package practica9;

import java.util.Scanner;

public class Practica9 {


    public static void main(String[] args) {
        // TODO code application logic here4
        
		int km,ltpt,r=1;
		float kmpl;
		Scanner x=new Scanner(System.in);
		while (r==1){
			System.out.println("Kilometros conducidos:  "); km=x.nextInt();
		System.out.println("Litros por tanque:  ");ltpt=x.nextInt();
			kmpl=km/ltpt;
	System.out.println("El total de kilometros por litro es:  "+kmpl);
		System.out.println("¿Quieres registrar otro viaje? "); r=x.nextInt();
			}
	}
    
}
